{% extends 'base.html' %}
{% block layout_title %}
	Edit Article
{% end %}

{% block content %}

{% if 'doc_info' in globals() %}
<section>
<h1>Preview</h1>

{% module Template('cms/rest.html', doc_info=doc_info) %}
</section>
{% end %}

<form action="" method="POST" enctype="multipart/form-data">
	{% raw xsrf_form_html() %}

	<label>
		UUID:
		<input type="text" name="uuid" value="{{ uuid }}"/>
	</label>
	
	<label>
		Title:
		<input type="text" name="title" value="{{ title }}"/>
	</label>
	
	<label>
		Date:
		<input type="text" name="date" value="{{ date }}"/>
	</label>
	
	<label>
		Content:
		
		<textarea name='text'>{{ text }}</textarea>
	
	</label>
	
	<label>
		Tags:
		<input type="text" name="tags" value="{{ tags }}"/>
	</label>
	<!-- 
	<label>
		Related Tags:
		<input type="text" name="related_tags" value="{related_tags }"/>
	</label>
	 -->
	<input type="submit" name='save' value="Save"/>
	<input type="submit" name='preview' value="Preview"/>
</form>

{{doc_info.meta}}

{% end %}