{% extends 'base.html' %}

{% block layout_title %}
	{{ article[ArticleCollection.TITLE] }}
{% end %}

{% block layout_head %}
	{% raw rest_doc.html_parts['meta'] %}
{% end %}

{% block content %}
	{% module Template('cms/modules/rest.html', article=article, rest_doc=rest_doc) %}
	
	
	{% if related_files %}
	<section>
		<p>Files:
		{% for related_file in related_files %}
			{% module Template('cms/modules/file_thumbnail.html', article=related_file,
				ArticleCollection=ArticleCollection) %}
		{% end %}
		</p>
	</section>
	{% end %}
	
	{% if article[ArticleCollection.TAGS] %}
	<section>
		<p>
		Tags:
		{% for tag in article[ArticleCollection.TAGS] %}
		<a href="{{ reverse_url('cms_tag', tag) }}">{{ tag }}</a>
		{% end %}
		</p>
	</section>
	{% end %}
	
	<nav>
		{% if current_user %}
		<a href="{{ reverse_url('cms_file_edit', article['_id']) }}">Edit</a>
		<a href="{{ reverse_url('cms_file_upload') }}">Upload</a>
		<a href="{{ reverse_url('cms_article_new') }}">New</a>
		{% end %}
	</nav>
{% end %}
