{% extends 'base.html' %}

{% block layout_title %}
	{{ article[ArticleCollection.TITLE] }}
{% end %}

{% block cms_layout_head %}
	<meta name="urn" content="{{ article[ArticleCollection.UUID].urn }}"/>
	<meta name="uuid" content="{{ '{' }}{{ str(article[ArticleCollection.UUID]) }}{{ '}' }}"/>
	
{% end %}

{% block content %}
	{% import torwuf.web.utils %}
	
	{% module Template('cms/modules/file_detail.html', article=article, 
		ArticleCollection=ArticleCollection) %}
		
	<nav>
		{% if prev_article %}
		<a href="{{ reverse_url('cms_unique_item', 
			torwuf.web.utils.bytes_to_b32low_str(
			prev_article[ArticleCollection.UUID].bytes)) }}">Previous</a>
		{% end %}
		
		{% if next_article %}
		<a href="{{ reverse_url('cms_unique_item', 
			torwuf.web.utils.bytes_to_b32low_str(
			next_article[ArticleCollection.UUID].bytes)) }}">Next</a>
		{% end %}
	
	</nav>
	
	{% if related_articles %}
	<section>
		<p>Related: 
			{% for related_article in related_articles %}
			<a href="{{ reverse_url('cms_unique_item', 
				torwuf.web.utils.bytes_to_b32low_str(
				related_article[ArticleCollection.UUID].bytes)) }}"
			>{{ related_article[ArticleCollection.TITLE] }}</a>
			
			{% end %}
		</p>
	</section>
	{% end %}
	
	{% if article[ArticleCollection.TAGS] %}
	<section>
		<p>
		Tags:
		{% for tag in article[ArticleCollection.TAGS] %}
		<a href="{{ reverse_url('cms_tag', tag) }}">{{ tag }}</a>
		{% end %}
		</p>
	</section>
	{% end %}
	
{% end %}

{% block cms_menu %}
	<a href="{{ reverse_url('cms_download', 
		torwuf.web.utils.bytes_to_b32low_str(
			article[ArticleCollection.UUID].bytes)) }}">Download</a>
			
	{% if current_user %}
	<a href="{{ reverse_url('cms_file_edit', article['_id']) }}">Edit</a>
	{% end %}
{% end %}
