{% extends 'base.html' %}

{% block layout_title %}
	{{ article[ArticleCollection.TITLE] }}
{% end %}

{% block cms_layout_head %}
	<meta name="urn" content="{{ article[ArticleCollection.UUID].urn }}"/>
	<meta name="uuid" content="{{ '{' }}{{ str(article[ArticleCollection.UUID]) }}{{ '}' }}"/>
	
	{% raw rest_doc.html_parts['meta'] %}
{% end %}

{% block content %}
	{% if article[ArticleCollection.LEGACY_ALLOW_RAW_HTML] %}
		<h1>{{ article[ArticleCollection.TITLE] }}</h1>
		{% raw article[ArticleCollection.TEXT] %}
	{% else %}
		{% module Template('cms/modules/rest.html', article=article, rest_doc=rest_doc) %}
	{% end %}
	
	
	{% if related_files %}
	<section>
		<p>Files:
		{% for related_file in related_files %}
			{% module Template('cms/modules/file_thumbnail.html', article=related_file,
				ArticleCollection=ArticleCollection) %}
		{% end %}
		</p>
	</section>
	{% end %}
	
	{% if article.get(ArticleCollection.TAGS) %}
	<section>
		<p>
		Tags:
		{% for tag in article[ArticleCollection.TAGS] %}
		<a href="{{ reverse_url('cms_tag', tag) }}">{{ tag }}</a>
		{% end %}
		</p>
	</section>
	{% end %}
	
{% end %}

{% block cms_menu %}
	{% if current_user %}
	<a href="{{ reverse_url('cms_article_edit', article['_id']) }}">Edit</a>
	{% end %}
{% end %}