Source: lolram
Section: python
Priority: optional
Maintainer: Christopher Foo <chris.foo@gmail.com>
Build-Depends: debhelper (>= 8.0.0), python, python-epydoc
Standards-Version: 3.9.2

Package: python-lolram
Architecture: all
Depends: python (>=2.6)
Description: lolram python framework and utilities

Package: python3-lolram
Architecture: all
Depends: python3 (>=3.0)
Description: lolram python 3 framework and utilities


Package: python-lolram-doc
Architecture: all
Description: documentation for lolram


