{% extends '../theme/layout.html' %}

{% block layout_head %}
<link rel="alternate" type="application/atom+xml" title="Torwuf Articles"
	href="{{ reverse_url('cms_atom_feed') }}"> 
{% block cms_layout_head %}
{% end %}
{% end %}

{% block layout_content %}

{% block content %}
{% end %}

<nav>
	<a href ="{{ reverse_url('cms_all_articles') }}">Browse by title</a>
	<a href ="{{ reverse_url('cms_all_tags') }}">Browse by tag</a>
	
	{% if current_user %}
		<a href="{{ reverse_url('cms_file_upload') }}">Upload</a>
		<a href="{{ reverse_url('cms_article_new') }}">New</a>
	{% end %}

	{% block cms_menu %}
	
	{% end %}
</nav>

{% end %}