<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
{% include 'layout_head_title.html' %}
<link rel="stylesheet" href="/resource/styles.css"/>
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="alternate" type="application/json" href="{{ request.path }}?_render_format=json"/>
{% block layout_head %}
{% end %}
<script type="text/javascript" src="/resource/scripts.js"></script>
</head>
<body>

<header id="site-header">
	<a href="/"><div id="site-banner"></div></a>
</header>

{% include 'layout_message_deprecated.html' %}
{% module Template('theme/layout_message.html') %}

<div id="site-content">
{% block layout_content %}
No content defined
{% end %}
</div>

<footer id="site-footer">
{% include 'layout_nav.html' %}
{% include 'layout_copyright.html' %}
</footer>
<!-- {{ request.uri }} -->
<!-- {{ request.environ['PATH_INFO'] }} -->
</body>
</html>