{% extends 'base.html' %}
{% block layout_title %}
	Edit Article
{% end %}

{% block content %}

{% if 'rest_doc' in globals() %}
<section>
<h1>Preview</h1>

{% module Template('cms/modules/rest.html', rest_doc=rest_doc) %}
</section>
{% end %}

<form action="" method="POST" enctype="multipart/form-data">
	{% raw xsrf_form_html() %}

	<label>
		UUID:
		<input type="text" name="uuid" value="{{ uuid }}"/>
	</label>
	
	<label>
		Title:
		<input type="text" name="title" value="{{ title }}"/>
	</label>
	
	<label>
		Date:
		<input type="text" name="date" value="{{ date }}"/>
	</label>
	
	<label>
		Content:
		
		<textarea name='text'>{{ text }}</textarea>
	
	</label>
	
	<label>
		Tags:
		<input type="text" name="tags" value="{{ tags }}"/>
	</label>
	
	<label>
		Show related items with these tags:
		<input type="text" name="related_tags" value="{{ related_tags }}"/>
	</label>
	
	<label>
		Private:
		<input type="checkbox" name="private" value="private"
		{% if private %}
		checked="checked"
		{% end %}
		/>
	</label>
	
	<label>
		Legacy raw html:
		<input type="checkbox" name="raw_html" value="raw_html"
		{% if raw_html %}
		checked="checked"
		{% end %}
		/>
	</label>
		
	<!-- 
	<label>
		Related Tags:
		<input type="text" name="related_tags" value="{related_tags }"/>
	</label>
	 -->
	<input type="submit" name='save' value="Save"/>
	<input type="submit" name='preview' value="Preview"/>
</form>

{% end %}