form label {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

form label > * {
}

form label > 
input[type=text],
input[type=search], 
input[type=url], 
input[type=tel], 
input[type=email], 
input[type=password], 
input[type=datetime], 
input[type=date], 
input[type=month], 
input[type=time], 
input[type=datetimelocal], 
input[type=number], 
input[type=range], 
input[type=color], 
input[type=file], 
textarea {
	width: 100%;
	display: block;
}