{% extends 'base.html' %}

{% block layout_title %}
	Create user
{% end %}

{% block content %}

<form action="" method="POST" enctype="application/x-www-form-urlencoded">
	{% raw xsrf_form_html() %}

	<label>
		Username (case insensitive, ASCII letters and numbers, .-_ insensitive):
		<input type="text" name="username"/>
	</label>
	
	<label>
		Password:
		<input type="password" name="password"/>
	</label>
	
	<label>
		Confirm password:
		<input type="password" name="password2"/>
	</label>
	
	<input type="submit" value="Apply"/>
</form>

{% end %}