{% import torwuf.controllers.base %}
{% import mimetypes %}

<article>
<h1>{{ article[ArticleCollection.TITLE] }}</h1>

{% if str(mimetypes.guess_type(article[ArticleCollection.FILENAME])[0]).startswith('image') %}
<img src="{{ reverse_url('cms_resize', 
	torwuf.controllers.base.bytes_to_b32low_str(article[ArticleCollection.UUID].bytes), 'large') }}"
	alt="{{ article[ArticleCollection.TITLE] }}"
/>
{% else %}
	<a href="{{ reverse_url('cms_download', 
			torwuf.controllers.base.bytes_to_b32low_str(
				article[ArticleCollection.UUID].bytes)) }}">
		Download “{{ article[ArticleCollection.FILENAME] }}”
	</a>
{% end %}

</article>
	
