<section>
{% import torwuf.controllers.base %}
{% import mimetypes %}

{% if str(mimetypes.guess_type(article[ArticleCollection.FILENAME])[0]).startswith('image') %}
<img src="{{ reverse_url('cms_resize', 
	torwuf.controllers.base.bytes_to_b32low_str(article[ArticleCollection.UUID].bytes), 'thumbnail') }}"
	alt="{{ article[ArticleCollection.TITLE] }}"
/>
{% end %}
<a href="{{ reverse_url('cms_unique_item', 
	torwuf.controllers.base.bytes_to_b32low_str(article[ArticleCollection.UUID].bytes)) }}">
	{{ article[ArticleCollection.TITLE] }}
</a>
</section>