{% extends 'base.html' %}

{% block layout_title %}
	Profile
{% end %}

{% block content %}

<table>
	<tr>
		<th>{{ _('UUID:') }}</th>
		<td>{{ db_model['_id'] }}</td>
	</tr>
	<tr>
		<th>{{ _('Display name:') }}</th>
		<td>{{ db_model.get(AccountCollection.DISPLAY_NAME) }}</td>
	</tr>
	
	<tr>
		<th>{{ _('Email addresses:') }}</th>
		<td>{{ ', '.join(db_model.get(AccountCollection.EMAILS)) }}</td>
	</tr>
	
	<tr>
		<th>{{ _('Groups:') }}</th>
		<td>{{ ', '.join(db_model.get(AccountCollection.AUTHORIZED_GROUPS, [])) }}</td>
	</tr>

</table>

{% end %}