<nav id="site-nav">
<a href="/">TORWUF Home</a>
<a href="http://blog.torwuf.com/">Blog</a>
<a href="http://sites.google.com/site/chrisfoo/">Pages</a>
<a href="http://thoowoof.blogspot.ca/">Drawings</a>
<a href="/z/">Stuff</a>


{% if current_user %}
	
	{% if not current_user.startswith('account') %}
		<a href="/account/login">{{ _('Create account') }}</a>
	{% else %}
		<a href="/account/">My Account</a>
	{% end %}
	
	<a href="/account/logout">{{ _('Sign out') }}</a>
{% else %}
	<a href="/account/login">{{ _('Sign in') }}</a>
{% end %}
</nav>