{% extends 'base.html' %}

{% block title %}
	{% set title = 'Create repository' %}
{% end %}

{% block content %}

	<form action="" method="POST" enctype="application/x-www-form-urlencoded">
		{% raw xsrf_form_html() %}
		
		<label>
			Name:
			
			<input type="text" name="name"/>
		
		</label>
		
		<input type="submit" value="Apply"/>
	</form>
	
<!--	<p>In order for others to access, add repository permissions for each user.</p>
	-->
	{% if 'return_code' in globals() %}
	<pre>{{ stderr }}</pre>
	<pre>{{ stdout }}</pre>
	{% end %}

{% end %}