{% extends '../base/layout.html' %}

{% block layout_title %}
About Torwuf
{% end %}

{% block layout_content %}

<h1>About Torwuf</h1>

<p>Thank’s for visiting my website. If you are looking for info about me,
check out my profiles:</p>

<ul>
	<li><a href="http://www.linkedin.com/in/chfoo0">LinkedIn (chfoo0)</a></li>
	<li><a href="https://www.facebook.com/chris.foo0">Facebook (chris.foo0)</a></li>
	<li><a href="https://github.com/chfoo/">GitHub (chfoo)</a></li>
	<li><a href="https://launchpad.net/~chris.foo">Launchpad (chris.foo)</a></li>
	<li><a href="https://plus.google.com/113213404422677844279/about">Google Profiles</a> (has links to even more profiles!)</li>
</ul>

<p>My email: chris.foo@gmail.com. (For emails about the website, use chris.foo+torwuf@gmail.com. If the +torwuf notation does not work, please include Torwuf in the subject line.)</p>

<br>

{% end %}