{% extends '../base/layout.html' %}

{% block layout_title %}
About Christopher Foo
{% end %}

{% block layout_content %}

<h1>About Christopher Foo</h1>

<img alt="Avatar Picture. It's a Weighted Companion Cube with cat ears and whiskers (from Portal 2)"
	src="http://www.gravatar.com/avatar/122db15a75bb22a42a63dff77fca526f?d=404">

<p>Computer science alumus from University of Waterloo. Python is perhaps my favourite programming language.</p>


<section>
	<h2>Contact</h2>
	Email: <a href="mailto:chris.foo@gmail.com">chris.foo@gmail.com</a><br>
	Twitter: <a href="https://www.twitter.com/chfoo0">@chfoo0</a><br>
	Facebook: <a href="https://www.facebook.com/chris.foo0">chris.foo0</a><br>
	My <a href="http://blog.torwuf.com">Blog</a><br>
	LinkedIn: <a href="https://www.linkedin.com/in/chfoo0">chfoo0</a><br>
	Google+: <a href="https://plus.google.com/113213404422677844279/about">113213404422677844279</a><br>
	
</section>

<section>
	<h2>Money stuff</h2>
	Bitcoin: 12NuMKgqpDqwDwnK1wP91YNu42hvC5dAX9<br>
	Dogecoin: DS3GnyvJr9BgWJAhGLVExNcDRHYT8tcZZW<br>
	GitTip: <a href="https://www.gittip.com/chfoo/">chfoo</a><br>
</section>


<br>


{% end %}
