<h1>Projects</h1>

<p>
	FYI, my GitHub account is <a href="https://github.com/chfoo/">chfoo</a>
	and Launchpad is <a href="https://launchpad.net/~chris.foo">chris.foo</a>.
</p>

<h2>Developing Projects</h2>

<ul>
	<li>
		<a href="https://github.com/chfoo/CompFacts">CompFacts</a> –
		Computer Facts Generator and Twitter Posting Bot

		<p>
			It uses a context-free grammar to generate interesting
			computer facts. Follow <a href="https://twitter.com/compfacts">@CompFacts</a>
			today for interesting computer facts!
		</p>
	</li>
	<li>
		<a href="https://launchpad.net/pywheel">Pywheel</a> –
		Python Middleware and Utilities

		<p>
			PyWheel is a collection of Python middleware and utilities. These modules
			are focused on web development.
		</p>
	</li>
</ul>

<ul>
	<li>
		<a href="https://launchpad.net/lolram">Lolram+Torwuf</a> –
		My website that I can never declare satisfactory for stable release
	</li>
</ul>

<h2>Projects On Hold</h2>
<ul>
	<li>
		<a href="https://launchpad.net/bytestag">Bytestag</a> –
		Wide Availability Peer-to-Peer File Sharing

		<p>
			Bytestag is a peer-to-peer (P2P) file sharing system that uses a distributed
			hash table (DHT) to achieve wide availability of files. Unlike the BitTorrent
			protocol, files are published entirely via DHT and do not require trackers
			or swarming. Each computer donates disk space and bandwidth for caching of
			published values.
		</p>

	</li>

	<li>
		<a href="https://github.com/chfoo/tornado">Tornado fork</a> – A fork
		of Tornado which supports general purpose MVC framework use
	</li>

	<li>
		<a href="https://launchpad.net/photonvault">Photon Vault</a> –
		Photon Vault is a simple web-based photo manager for your home's LAN. Use Photon Vault to keep your photos organized on a single computer.
	</li>
</ul>

<h2>Maintained Projects</h2>

<ul>
	<li>
		<a href="/xkcd-geocities/">xkcd Geocities</a> –
		A working archive of xkcd's tribute to the closure of Geocities
	</li>
	<li>
		<a href="/pacs/">ASCII-Pacs</a> – Pac-Man text art in database format
	</li>

</ul>

<h2>Archived Projects</h2>

<ul>
	<li>
		<a href="http://thoowoof.blogspot.ca/search/label/the%20vectorspace"> The Vectorspace </a> – A webcomic featuring Pac-Man
	</li>

	<li>
		<a href="/z/torwuf/ytdata/">YouTube Data Statistics Crawler</a> –
		A experiment to see how big YouTube. Conclusion: It's bigger than I thought.
	</li>
	<li>
		<a href="http://blog.torwuf.com/2012/04/pacman-1982.html">Pacman 1982</a> –
		A tweaked version to run on Ubuntu
	</li>
	<li>
		<a href="/z/torwuf/tm_fileupdater/">TrendMicro file updater</a> – A file updater
		written for a friend
	</li>
</ul>

<h2>School Projects</h2>

<p>
	To be listed.
</p>
<ul>

</ul>
