<h1>Projects</h1>

<h2>Accounts</h2>

<ul>
	<li>
		Github <a href="https://github.com/chfoo/">chfoo</a>
	</li>
	<li>
		Launchpad <a href="https://launchpad.net/~chris.foo">chris.foo</a>
	</li>
</ul>

<h2>Current Projects</h2>

<h3><a href="http://www.wuff.ca">Wuff.ca</a></h3>
<p>
	Web demos and utilities.
</p>

<h3><a href="https://github.com/chfoo/wpull">Wpull</a></h3>
<p>
	Wget-compatible web downloader.
</p>

<h3><a href="https://github.com/chfoo/kitabyte">Kitabyte Font Face</a></h3>
<p>
	<img src="https://raw.github.com/chfoo/kitabyte/master/KitabyteRegularSpecimen.png" alt="Kitabyte font specimen"
	width="50%">
</p>
<p>
	A font face inspired by old video games.
</p>

<h3><a href="https://github.com/chfoo/CompFacts">CompFacts</a></h3>
<p>
	<img src="https://si0.twimg.com/profile_images/2884150758/34f63a9bfa7ed6c98be6bf47b940704e.png" alt="Compfacts icon">
</p>
<p>
	Computer Facts Generator and Twitter Posting Bot
</p>
<p>
	It uses a context-free grammar to generate interesting
	computer facts. Follow <a href="https://twitter.com/compfacts">@CompFacts</a>
	today for interesting computer facts!
</p>

<h3><a href="https://launchpad.net/pywheel">Pywheel</a></h3>
<p>
	Python Middleware and Utilities
</p>

<p>
	PyWheel is a collection of Python middleware and utilities. These modules
	are focused on web development. This website uses Pywheel.
</p>

<h3><a href="https://launchpad.net/lolram">Lolram+Torwuf</a></h3>
<p>
	Some code that my website uses. Superceeded by PyWheel.
</p>

<h2>Experimental Projects</h2>

<h3><a href="https://launchpad.net/bytestag">Bytestag</a></h3>
<p>
	Wide Availability Peer-to-Peer File Sharing
</p>
<p>
	Bytestag is a peer-to-peer (P2P) file sharing system that uses a distributed
	hash table (DHT) to achieve wide availability of files. Unlike the BitTorrent
	protocol, files are published entirely via DHT and do not require trackers
	or swarming. Each computer donates disk space and bandwidth for caching of
	published values.
</p>

<h3><a href="https://github.com/chfoo/tornado">Tornado fork</a></h3>
<p>
	A fork
	of Tornado which supports general purpose MVC framework use.
	Superceeded by PyWheel.
</p>

<h3><a href="https://launchpad.net/photonvault">Photon Vault</a></h3>
<p>
	Photon Vault is a simple web-based photo manager for your home's LAN. Use Photon Vault to keep your photos organized on a single computer.
</p>

<h3><a href="/z/torwuf/ytdata/">YouTube Data Statistics Crawler</a></h3>
<p>
	An experiment to see the size of YouTube. Conclusion: It's bigger than I thought.
</p>

<h2>Completed Projects</h2>

<h3><a href="/xkcd-geocities/">xkcd Geocities mirror</a></h3>
<p>
	A working archive of xkcd's tribute to the closure of Geocities
</p>

<h3><a href="/pacs/">ASCII-Pacs</a></h3>
<p>
	Pac-Man text art in database format
</p>

<h3><a href="http://blog.torwuf.com/2012/04/pacman-1982.html">Pacman 1982</a></h3>
<p>
	A tweaked version to run on Ubuntu. Technically, it's not my project, but I'm putting it here for now.
</p>

<h3><a href="/z/torwuf/tm_fileupdater/">TrendMicro file updater</a></h3>
<p>
	A file updater
	written for a friend.
</p>
<p>
	His subscription expired so I wrote this awkward utility to manually update the defination files. Of course, it was before free antivirus was popular.
</p>
<p>
	This was written before I learned object oriented programming. (Oh how things have changed!)
</p>

<h2>School Projects</h2>

<p>
	To be listed.
</p>
