{% extends '../base/layout.html' %}

{% block layout_title %}
Stuff
{% end %}

{% block layout_content %}

<h1>My Stuff</h1>

<h2>Miscellaneous web pages</h2>

<ul>
	<li>
		<a href="http://sites.google.com/site/chrisfoo/">Google Sites</a>
	</li>
	<li>
		<a href="/cms/articles">My homebrew CMS</a>
	</li>
	<li>
		<a href="/cat-signal">Cat Signal</a> (Emergency use only)
	</li>
	<li>
		<a href="/z/">My hosted Files</a>
	</li>
</ul>

<h2>Art stuff</h2>

<h3><a href="http://thoowoof.blogspot.ca/search/label/the%20vectorspace?updated-max=2010-05-04T00:00:00-04:00&max-results=20&start=60&by-date=false"> The Vectorspace </a></h3>
<p>
	A webcomic featuring Pac-Man. 
</p>

{% end %}
